### Projeto 2: Ciencia dos dados.

### Alexandre Young , Jean Walper, Pedro de la peña, Sabrina Sampaio ###

### Introdução:

O nosso projeto consiste em propor um teste AB para um site, aplicá-lo e analisar seus resultados.
    
Um teste AB é uma tipo de teste usado para analisar os efeitos de uma caracteristica diferente tem sobre uma determinada tarefa. O utilizamos para estudar os efeitos que a disposição de links teriam na navegação de um site.
  
Como exemplo real utilizamos um site que acreditamos que se beneficiaria dessa mudança, o portfólio de projetos (primeiro projeto de Co-Design) de um dos integrantes do grupo. No modelo original do site (A), o posicionamento dos links para as paginas de projeto parecia causar uma certa confusão sobre quais itens eram links "clicáveis" ao estar abaixo de itens que não eram,para confirmar essa hipótese construímos uma versão modificada (B) onde acreditamos que a disposição dos links fosse mais intuitiva. 

Testamos então a navegabilidade de cada versão do site com o teste específico de encontrar a pagina de um certo projeto fixo no site.

Encontramos 79 candidatos dispostos a nos ajudar no teste, sem conhecer ou ser exposto à outra versão do site e sem nenhuma indicação de que caminho seguir, pedimos que cada candidato encontrasse a página do "Jogo de Computador" no portfolio. Para os 42 que navegaram pela a versão A do site e os 37 pela a versão B procuramos medir apenas o tempo que levaram, em segundos para encontrar a página específica.

In [2]:
import pandas as pd
import json
import itertools
import matplotlib.pyplot as plt
import numpy as np
from scipy import stats
%matplotlib inline

### Leitura do arquivo

In [3]:
arquivo = open("exportNINJA.json")
linhas = arquivo.readlines()
texto = "".join(linhas)
dados_fire = json.loads(texto)

### Análise do atributo logs

 Veja que log, que contém todos os dados, está pesadamente aninhado

In [4]:
for k,v in dados_fire["logs"].items():
    # print(k,v) # habilite para imprimir as chaves de mais alto nível
    for chave, valor in v.items():
        # print(chave, valor) # habilite para imprimir as chaves inferiores
        pass # desabilite quando reabilitar a linha de cima

### Convertendo para um dataframe

O pandas entende listas de dicionários que têm as mesmas chaves. O Firebase nos dá dicionários de dicionários de dicionários. 

Vamos precisar converter. Basta inserir todos os itens que estavam na chave "logs" em uma lista

In [5]:
lista_dicionarios = []

for k,v in dados_fire["logs"].items():
    lista_dicionarios.append(v)

A função `from_records` converte a lista de dicionários em um dataframe

In [6]:
dataframe = pd.DataFrame.from_records(lista_dicionarios)

In [7]:
dataframe

             tempo    tipo     user_id versao
0    1479337480444     fim  3473480114      A
1    1479388920285     fim   993384729      A
2    1479342231419  inicio  1939264432      A
3    1479401423182  inicio  3839108837      B
4    1479387680103  inicio  1607596965      A
5    1479341841499  inicio   336620398      A
6    1479347570143  inicio   665338756      B
7    1479341948357     fim   570755405      B
8    1479334275930  inicio  1609099169      A
9    1479341997421  inicio   336620398      A
10   1479387630345  inicio  1140048782      A
11   1479395442418  inicio  3789181448      B
12   1479346300317  inicio  4208364485      B
13   1479390517444     fim  3882467476      A
14   1479423859196     fim  3045520333      B
15   1479389043911     fim  1493610588      A
16   1479334152985  inicio  3636113376      A
17   1479341911873  inicio   336620398      A
18   1479336486572  inicio   200239137      B
19   1479387570832  inicio   467384097      B
20   1479335037843  inicio  3187205062      B
21   1479388630207  inicio  4065309268      B
22   1479408952003  inicio   853823534      A
23   1479345373356     fim   105061458      A
24   1479333060028  inicio  4037141496      B
25   1479337745061  inicio  2737756437      B
26   1479335743495  inicio  4037141496      A
27   1479388793525  inicio  3037694576      B
28   1479334327322  inicio  3893183666      B
29   1479338974198     fim  1580224945      A
..             ...     ...         ...    ...
278  1479377915916  inicio  1276860000      B
279  1479353220423  inicio  3211109805      B
280  1479333451841  inicio  2061492730      A
281  1479388574181  inicio  4065309268      B
282  1479392426238     fim   828403516      B
283  1479345794187     fim   312557794      A
284  1479380481879  inicio  1276860000      B
285  1479374971877     fim  4080704848      B
286  1479423726808  inicio  1686436492      A
287  1479384330455  inicio   875737958      B
288  1479388987245     fim  3771537122      A
289  1479423846782  inicio  3045520333      B
290  1479341820742  inicio   372967789      B
291  1479336056462  inicio   494234354      A
292  1479335620046     fim  3882063655      A
293  1479375673948     fim  1526219378      B
294  1479374762075  inicio  3882467476      B
295  1479380437425  inicio  1031117037      A
296  1479334233728  inicio  3636113376      A
297  1479380138526  inicio  3187205062      B
298  1479401445358     fim  3839108837      B
299  1479336468612  inicio   200239137      A
300  1479385264932     fim  2121631963      B
301  1479341982681     fim  2209678432      B
302  1479339133110     fim  3805547651      B
303  1479346408440  inicio    56723714      B
304  1479375166926  inicio  1890498751      A
305  1479389041616  inicio  3048687867      A
306  1479423863910  inicio  3045520333      A
307  1479396127086  inicio  1866307868      B

[308 rows x 4 columns]

### Convertendo para um DataFrame de delta_t

In [8]:
agrupado = dataframe.groupby(by=["user_id", "versao"])

In [9]:
users = set(dataframe.user_id) # We convert it to a set so that each user appear only once

In [10]:
users = list(users)

In [11]:
resultados = []

for u in users:
    for versao in ["A", "B"]:
        if (u, versao) in agrupado.groups.keys(): # Check if a specific pair user/type of test happened
            grupo1 =  agrupado.get_group((u, versao))
            grupo1 = grupo1.sort_values(by="tempo") # Para evitar que inícios sem fim gerem tempos negativos
            
            if len(grupo1[grupo1.tipo=="fim"])>= 1 and len(grupo1[grupo1.tipo=="inicio"]) >= 1:
                delta_t = grupo1[grupo1.tipo=="fim"].iloc[-1].tempo - grupo1[grupo1.tipo=="inicio"].iloc[0].tempo
                resultados.append({"user_id":u, "delta_t":delta_t, "versao":versao})

In [12]:
grupo1.sort_values(by="tempo")

             tempo    tipo  user_id versao
164  1479386635776  inicio  8623611      A
176  1479386665449     fim  8623611      A

In [13]:
dataframe_resumo = pd.DataFrame.from_records(resultados)

In [14]:
dataframe_resumo.delta_t/=1000 # Convertendo milissegundos em segundos

In [15]:
dfA= dataframe_resumo[dataframe_resumo.versao == "A"]
dfB= dataframe_resumo[dataframe_resumo.versao == "B"]



print(dfA.shape[0],dfB.shape[0])

dataframe_resumo

42 37

    delta_t     user_id versao
0    97.183  2867771403      B
1    20.414  3218700317      A
2   108.507   200239137      A
3   187.029   849639971      A
4   204.820  2452834855      A
5    86.461  1996812841      B
6   181.267  1722607667      B
7    18.911  2453186631      A
8    91.973  3215534152      B
9    12.789   105061458      A
10   38.994  4065309268      B
11  321.807   608891993      A
12    6.656  1493610588      A
13  182.971  2209678432      B
14   16.183  1526219378      B
15   17.993   816102520      A
16  108.359  1753369215      B
17  107.702  3805547651      B
18  202.221  1686436492      A
19   24.403  1928023694      A
20    7.751   380383377      A
21   14.029  3882467476      A
22   72.545  2901778078      A
23   22.622  1717663905      A
24   10.681   832982693      A
25  191.642   958251183      A
26   10.174   958251183      B
27   14.675  4011843770      B
28   31.406  1890498751      A
29   16.933  3308787905      B
..      ...         ...    ...
49    7.168   467384097      B
50  164.330  3882063655      A
51   53.690  1018336554      B
52   92.939   828403516      B
53  327.565   384016194      A
54   74.625   570755405      B
55   33.033  4080704848      B
56  166.887  1195772768      A
57   20.917   372967789      B
58  176.506   336620398      A
59   10.354  3563500917      B
60   92.541   414012278      B
61   11.401  2908701567      B
62   72.891   566506376      B
63   26.676  4178396042      A
64   14.112  1140048782      A
65  232.990  1609099169      A
66   15.797  2134663073      A
67   14.859  1654951340      B
68   96.010  3211109805      B
69   45.027  1939264432      A
70   40.141  1580224945      A
71   14.969  3473480114      A
72   11.013  4208364485      B
73   96.998  1632374219      A
74   19.297  1632374219      B
75   76.506  3045520333      A
76   12.414  3045520333      B
77  119.104  2061492730      A
78   29.673     8623611      A

[79 rows x 3 columns]

# <color='m'> Teste de hipótese! </color>
### Usando teste t, pois nossa amostra < 200

Definimos a hipótese nula como o tempo médio gasto na versão A do site equivalendo ao tempo médio gasto na versão B (H0:μa=μb) e a hipótese alternativa como o valor médio de tempo gasto na versão A sendo maior que o tempo gasto na versão B (H1:μa > μb). O nível de significância inicial foi de 10%.
    
Devido ao fato de não possuirmos muitas amostras, realizamos o teste t-student em vez de um teste z. Os parâmetros do teste estão definidos no código a seguir, sendo T a média padronizada e V o grau de liberdade:

In [16]:
alpha= 0.1 #Nivel de significancia 10%
na= dfA.shape[0]
nb = dfB.shape[0]
D = 0 #Pois adimitimos H0: uma media igual a outra

#Hipótese:
    #H0: μa = μb
    #H1: μa =/= μb
    
μa= dfA.delta_t.mean()
μb= dfB.delta_t.mean()

Sa= dfA.delta_t.std()
Sb= dfB.delta_t.std()

sna = ((Sa**2)/na)
snb = ((Sb**2)/nb)
spa = (sna**2)/(na-1)
spb = (snb**2)/(nb-1)

#LES FORMULAS(3B, magalhães e lima)

T=(D-(μa - μb))/((sna+snb)**(0.5))
v= ((sna + snb)**2)/(spa+spb)
T, v

(-1.8316210162059656, 63.09894073603812)

In [17]:
pvalue = stats.t.sf(T,df=v)
print(pvalue)
print()

alpha=0.1
if(pvalue> 1-alpha):
    print("Com nosso nível de significância alpha= 10%, nosso teste T REJEITA a hipótese inicial")
else:
    print("Com nosso nível de significância alpha= 10%, nosso teste T NÃO REJEITA a hipótese inicial")
    
alpha=0.05
if(pvalue> 1-alpha):
    print("Com nosso nível de significância alpha= 5%, nosso teste T REJEITA a hipótese inicial")
else:
    print("Com nosso nível de significância alpha= 5%, nosso teste T NÃO REJEITA a hipótese inicial")
    
alpha=0.01
if(pvalue> 1-alpha):
    print("Com nosso nível de significância alpha= 1%, nosso teste T REJEITA a hipótese inicial")
else:
    print("Com nosso nível de significância alpha= 1%, nosso teste T NÃO REJEITA a hipótese inicial")

0.964135517461

Com nosso nível de significância alpha= 10%, nosso teste T REJEITA a hipótese inicial
Com nosso nível de significância alpha= 5%, nosso teste T REJEITA a hipótese inicial
Com nosso nível de significância alpha= 1%, nosso teste T NÃO REJEITA a hipótese inicial

### Conclusão: ###

A validade do nosso teste T depende do nosso nível de confiança alpha em que trabalhamos, sendo alpha a probabilidade de que nosso teste não ser confiável. Não é possível, no entanto, assumir um nivel total de confiabilidade (alpha de 0%). Isto apenas seria possível caso existisse um espaço amostral que representasse com absoluta certeza a população total. 
  	
Queremos idealmente estudar nosso teste dentro de níveis altos de confiabilidade para uma análise final mais significativa. A mudança do valor de alpha pode confirmar ou rejeitar a hipotese nula, portanto decidimos fazer o teste com os tres valores mais comuns de alpha: 1%, 5% e 10%.
  	
Após os teste, percebemos que a hipotese nula é rejeitada com um nivel de significancia de 10% e 5%, indicando que há uma diferença consideravel na media do tempo nescessario para executar a tarefa do site em suas diferentes versões, e
mostrando que a posição dos links dos projetos influenciou nesse tempo. Porém, quando diminuimos o alpha (nivel de significancia) para 1%, a hipotese nula passou a não ser rejeitada, indicando que não há diferença entre as duas versões, em quesitos de tempo gasto para achar o projeto alvo. Isto se deve ao fato de nem todos os visitantes do site serem estranhos aos projetos de engenharia. 
  	
Concluímos que, ao analisar os dados coletados, com nível de confiabilidade de 95%, a nossa alteração na disposição dos itens do site beneficiou significativamente a navegabilidado, facilitando para os usuários encontrar as informações que procuram.